In [1]:
import sqlite3

In [4]:
db = sqlite3.connect("test1.db")

In [5]:
c = db.cursor()

In [6]:
d = c.execute("create table test1_table(name text, mail_id text, age int, salary real)")

In [8]:
c.execute("insert into test1_table values('bhavya', 'bhavya789shah@gmail.com', 21, 23220000)")
c.execute("insert into test1_table values('shah', 'bs485950@gmail.com', 22, 232200)")
c.execute("insert into test1_table values('bhavya shah', 'bhavyadatascience708@gmail.com', 20, 232000)")
c.execute("insert into test1_table values('shah bhavya', 'shahboy@gmail.com', 20, 232900)")

In [18]:
c.execute("select * from test1_table where salary > 4000").fetchall()

[('bhavya', 'bhavya789shah@gmail.com', 21, 23220000.0),
 ('shah', 'bs485950@gmail.com', 22, 232200.0),
 ('bhavya shah', 'bhavyadatascience708@gmail.com', 20, 232000.0),
 ('shah bhavya', 'shahboy@gmail.com', 20, 232900.0)]